body {
    margin: 0px;
    padding: 0px;
}

.heater {
    background-color: #80a4ad;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        color: #02084b;
        font-size: 45px;
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
    }
}


.df {
    display: flex;
}

.container {
  display: flex;
  padding: 30px;
  flex-direction: row-reverse; /* 👈 Move sidebar para a direita */
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  font-family: "Raleway", sans-serif;
}

.title {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "Raleway", sans-serif;
}

.sidebar {
  width: 250px;
  background: #005b8f;
  color: white;
  padding: 20px;
  border-radius: 8px;
  flex-shrink: 0;
  h2 {
    font-size: 20px;
  }
}

.sidebar input,
.sidebar .date-box {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.sidebar label {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 0.95em;
  width: 100%;
  cursor: pointer;
}

.label {
    width: 50px;
}

.fdr {
    flex-direction: row;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  flex: 1;
}




.card {
  background: #ccdae5;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row; /* 👈 imagem à direita */
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.card-text {
  flex: 2;
}

.card h2 {
  font-size: 16px;
  color: #1a1a44;
  margin-bottom: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.card p {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
}

.card button {
  background: #00154d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 55%;
}

.card img {
  flex: 1;
  max-width: 160px;
  border-radius: 5px;
  object-fit: cover;
}
